	body {
		background-image: url("background/image.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		font-family: Poppins, sans-serif;
	}
	
	.main-container {
		margin: 30px auto;
		background-color: #fff;
		background: linear-gradient(-135deg, rgba(15, 32, 39, 0.9), rgba(32, 58, 67, 0.9), rgba(44, 83, 100, 0.9));
		padding: 20px;
		border: 1px solid #000;
		border-radius: 20px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		max-width: 400px;
	}
		
	h1 {
		text-align: left;
		margin-bottom: 20px;
	}
	
	.audio-container {
		margin: 20px auto;
		background-color: #fff;
		background: linear-gradient(-135deg, rgba(15, 32, 39, 0.9), rgba(32, 58, 67, 0.9), rgba(44, 83, 100, 0.9));
		padding: 20px;
		border: 1px solid #000;
		border-radius: 20px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		max-width: 400px;
	}
	
	.button-container {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	#previous-button {
		font-size: 21px;
	}

	#play-pause-button {
		font-size: 21px;
	}
	
	#next-button {
		font-size: 21px;
	}
	
	.button-container button {
	  background-color: transparent;
	  border: none;
	  cursor: pointer;
	  height: 50px;
	  margin: 0 10px;
	  outline: none;
	  width: 120px;
	}

	.button-container button:hover {
	  color: #fff;
	  background-color: #000;
	}
	
	
	form {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	label {
		font-size: 20px;
		margin-bottom: 10px;
	}

	input[type="number"] {
		width: 50%;
		font-size: 17px;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #ddd;
		margin-bottom: 20px;
	}

	button[type="submit"] {
		background-color: #0066CC;
		margin-top: 20px;
		color: white;
		font-weight: bold;
		padding: 10px 20px;
		border: none;
		border-radius: 10px;
		font-size: 20px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	button[type="submit"]:hover {
		background-color: #0052a3;
		transition: background-color 0.3s ease;
	}

	#results-container {
		margin-top: 50px;
		padding: 20px;
		background-color: #0F2027;
		border-radius: 10px;
		color: white;
	}

	.discount-input-container label {
		display: flex;
		width: 100%;
		justify-content: center;
		text-align: center;
		margin-bottom: 10px;
	}

	.discount-input-container input[type="number"] {
		width: 50%;
		font-size: 20px;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #ddd;
		margin: 0 auto 30px auto;
		display: block;
	}


/* Responsive Styles */
	@media (max-width: 200px) {
		input[type="number"], .container, h1, h2, label, input[type="number"], button[type="submit"], #results-container {
		width: 100%;
		font-size: 14px;
		}
	
	.container {
		padding: 10px;
		}
	
	#results-container {
		margin-top: 30px;
		}
	}

	@media (min-width: 800px) {
	.container {
		max-width: 600px;
		}
	}
	
	/* Animation Styles */
	.glow-on-hover {
	    width: 220px;
	    height: 50px;
	    border: none;
	    outline: none;
	    color: #fff;
	    background: #111;
	    cursor: pointer;
	    position: relative;
	    z-index: 0;
	    border-radius: 10px;
	}

	.glow-on-hover:before {
	    content: '';
	    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	    position: absolute;
	    top: -2px;
	    left:-2px;
	    background-size: 400%;
	    z-index: -1;
	    filter: blur(5px);
	    width: calc(100% + 4px);
	    height: calc(100% + 4px);
	    animation: glowing 20s linear infinite;
	    opacity: 0;
	    transition: opacity .3s ease-in-out;
	    border-radius: 10px;
	}

	.glow-on-hover:active {
	    color: #000
	}

	.glow-on-hover:active:after {
	    background: transparent;
	}

	.glow-on-hover:hover:before {
	    opacity: 1;
	}
	
	.glow-on-hover:after {
		z-index: -1;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: #111;
		left: 0;
		top: 0;
		border-radius: 10px;
		transition: opacity .3s ease-in-out;
	}

	@keyframes glowing {
	    0% { background-position: 0 0; }
	    50% { background-position: 400% 0; }
	    100% { background-position: 0 0; }
	}
	